<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &apos;Running Endpoint Health Verification...&apos;

# Fetch the status code
STATUS_CODE=$(curl -s -o /dev/null -w &quot;%{http_code}&quot; http://localhost:8080/sample-java-app/)

if [ &quot;$STATUS_CODE&quot; -eq 200 ]; then
    echo &quot;Deployment validation successful! HTTP Status: $STATUS_CODE&quot;
    exit 0
else
    echo &quot;Deployment validation failed with status code: $STATUS_CODE&quot;
    echo &quot;------------------ SERVER RESPONSE ------------------&quot;
    # This prints the actual HTML error page from Tomcat so we can see the exact root cause
    curl -s http://localhost:8080/sample-java-app/
    echo &quot;-----------------------------------------------------&quot;
    exit 1
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>